* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --black: #1c1c1c;
  --silver: #a3a194;
  --white: #ffffff;
  --brown: #643716;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background: var(--black);
  color: var(--white);
  text-align: center;
}

.container {
  max-width: 55rem;
  margin: 0 auto 4rem;
}

/* intro info */

#image {
  display: block;
  max-width: 100%;
  border-radius: 30px 30px 0 0;
}

#title {
  font-family: "Zen Dots", cursive;
  font-size: 4.5rem;
  margin: 3rem 0 1.25rem;
  color: var(--silver);
}

#subtitle {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 2.5rem;
  opacity: 0.85;
}

figcaption {
  opacity: 0.8;
  margin: 1.5rem;
}

/* biography */

#tribute-info {
  background: var(--silver);
  color: var(--black);
  text-align: left;
  padding: 2.5rem 2rem 3.5rem;
  border-radius: 0 0 30px 30px;
}

#headline {
  font-size: 2rem;
  text-align: center;
  color: var(--brown);
  margin-bottom: 3rem;
}

span {
  font-weight: 700;
  margin-right: 2rem;
}

li {
  margin-bottom: 2rem;
  display: flex;
}

blockquote {
  font-style: italic;
  margin: 3rem 0;
  letter-spacing: 1.2px;
}

#author {
  text-align: right;
  font-size: 1.4rem;
}

#more-info {
  font-weight: 700;
  letter-spacing: 1.5px;
}

#link {
  color: var(--brown);
}

/* media queries*/

@media (min-width: 900px) {
  #title {
    font-size: 5.5rem;
  }
  #subtitle {
    font-size: 2.25rem;
    margin-bottom: 2.5rem;
  }
  #tribute-info {
    padding: 3.5rem 5.5rem;
  }
}
